{% extends "_base.html" %}
{% block content %}
<!-- start of copy page -->
<!--Formatter : https://www.freeformatter.com/html-formatter.html -->
<div class="container">
   <div id='gUMArea'>
      <div>
         Record:
         <input type="radio" name="media" value="video" checked id='mediaVideo'>Video
         <input type="radio" name="media" value="audio">Audio
      </div>
      <button class="btn btn-default"  id='userRecordReq'>Request Stream</button>
   </div>
   <div id='btns'>
      <button  class="btn btn-default" id='start'>Start</button>
      <button  class="btn btn-default" id='stop'>Stop</button>
   </div>
   <div>
   </div>
   <form enctype="multipart/form-data" id="upload_audio"></form>
</div>
</hr>
<div class="container">
   <div></div>
   <div class="col-sm-6">
      <h4>Recordings:</h4>
      <ul  class="list-unstyled" id='userRecordingsList'></ul>
   </div>
   <div class="col-sm-6">
      <button  class="btn btn-default" id='upload_recording'>Upload</button>
   </div>
</div>
</hr>
<script src="./static/main.js"></script>
{% endblock %}